*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head{
  margin: 20px 0px;
}

.filter{
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap:20px
}
.filter input{ padding: 2px;}

.container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
padding: 20px;
}

.product{
  border: 2px solid gray;
  padding: 20px 10px;
}